# Игнорируем сборочные файлы
build/
bin/
lib/
*.o
*.a
*.so
*.dll
*.exe
.bin

# Игнорируем временные файлы
*.swp
*.swo
*~

# Игнорируем файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Игнорируем пользовательские файлы IDE
*.user
*.vscode/
*.idea/
*.vs